<!-- Page Content -->


    <h1 class="my-4">BIENVENIDOS A LA RED SALUD-PUNO</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-3 mb-3">
        <div class="card h-100">
          <h6 class="card-header">DIRESA PUNO: REALIZAN TALLER DE FUNCIONAMIENTO DE CAPACIDADES PARA PROMOVER LA INCULCION SOCIAL</h6>
          <div class="card-body">
            <p class="card-text">
              <img src="assets/noticia.jpg" height="150" width="200" alt="">
            </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-3">
        <div class="card h-100">
          <h6 class="card-header">DIRESA PUNO: DISMINUYEN CASOS DE INFECCIONES RESPIRATORIAS AGUDAS EN NIÑOS MENORES DE 5 AÑOS EN COMPARACIÓN AL 2017</h6>
          <div class="card-body">
            <p class="card-text">
              <img src="assets/noticia4.jpg" height="150" width="200" alt="">
            </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-3">
        <div class="card h-100">
          <h6 class="card-header">DIRESA-PUNO: REALIZARÁ FORO REGIONAL Y CAMPAÑA DE ATENCIÓN INTEGRAL PARA DISCAPACITADOS</h6>
          <div class="card-body">
            <p class="card-text">
                <img src="assets/noticia1.jpg" height="150" width="200" alt="">
            </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-3">
        <div class="card h-100">
          <h6 class="card-header">DIRESA PUNO: TRAS DOS CASOS SOSPECHOSOS DE SÍNDROME DE GUILLIAIN BARRÉ SE RECOMIENDA LA HIGIENE EN ESPECIAL EL LAVADO DE MANOS</h6>
          <div class="card-body">
            <p class="card-text">
                <img src="assets/noticia2.jpg" height="150" width="200" alt="">
            </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->