
    <h1 class="my-4">MISION Y VISION</h1>

<!-- Marketing Icons Section -->
<div class="row">
  <div class="col-lg-3 mb-3">
    <div class="card h-100">    
        <div class="card-body">
            <p class="card-text">
             MISION
            </p>
      <h6 class="card-header">"Somos una organización de salud con competencias y cultura de valores que garantiza la Atención Integral de Salud con Eficiencia y Eficacia en respuesta a las necesidades de la población, para mejorar el nivel de salud con participación activa de los actores sociales".</h6>
      
      </div>
     
    </div>
  </div>
  <div class="col-lg-3 mb-3">
      <div class="card h-100">
          <div class="card-body">
              <p class="card-text">
                VISION
              </p>
        <h6 class="card-header">"Ser una organización de salud líder a nivel sur del país, en el desarrollo integral de la Población, con una gestión sanitaria con: equidad, calidad, transparente, eficacia, con un potencial humano identificado en el que hacer sanitario".</h6>
        
        </div>
       
      </div>
    </div>
  </div>
<!-- /.row -->